<!DOCTYPE html>
<html>
<head>
  <title>Nancy - Conseils d'École</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_importmap_tags %>

</head>
<body>
  <header class="header-banner">
    <h1>Nancy - Conseils d'École</h1>
  </header>

  <%= yield %>

  <!-- Ici, pas besoin de dupliquer ton script JS : il est déjà dans `app/javascript/application.js` -->
</body>
</html>


